<h1>Dashboard</h1>
<h3>Hi Welcome to this page.</h3>
<p>If you already have an account you may <a routerLink="/login"  routerLinkActive="active">login</a><br>

  If you don't have an account, you may <a routerLink="/registration" routerLinkActive="active">register</a></p><br>
<p>For other details, you may click on <a routerLink="/profile" routerLinkActive="active">my profile</a> </p>


