<div class="my-form">
  <h1>
    Login Page
  </h1>

  <div class="columns">
    <div class="column col-9 col-sm-12">
      <form class="form-horizontal" action="#forms">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-4">Enter User ID or Phone Number</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-4" type="text" name="email" [(ngModel)]="userCred.ID">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-2">Password</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-2" type="password" name="password" [(ngModel)]="userCred.pswd">
          </div>
        </div>
        <div class="form-group">
          <button  class="btn" (click)="loggedIn();">Log In</button>
          <button  class="btn active" (click)="reg();">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
