

<div id='mainapp'>
  <div class="ht100-p-c">

    <header class="my-header">
      <button class="btn" routerLink="/registration" routerLinkActive="active">registration</button>
      <button class="btn" routerLink="/password" routerLinkActive="active">forgot password</button>
      <button class="btn" routerLink="/login" routerLinkActive="active">login</button>
      <button class="btn" routerLink="/profile" routerLinkActive="active">profile</button>
      <button class="btn" routerLink="/dashboard" routerLinkActive="active">dashboard</button>
      <button class="btn" routerLink="/logout" routerLinkActive="active">logout</button>
    </header>
    <router-outlet></router-outlet>
  </div>
</div>
